@charset "UTF-8";

:root{
    --cor1:#f1a9f1;
    --cor2:#FF28FF;
    --cor3:#8b018b;
    --cor4:#55d9fa;
    --cor5:#3405b6;
    --cor6:#150641;
}

*{
    margin: 0px;
}

body{
    background-color:#3405b6;
    
}

header{
height: 159px;
background-color: white;
text-align: right;
margin-bottom: 30px;
}

header>img{
    display: block;
    margin: auto;
    
}

.botom{
    
    text-decoration: none; 
    font-weight: bold;
    color: white;
    font-size: 18px;
    background-color: #3405b6;
    border-radius: 12px;
    padding: 10px;
    margin: 20px;
}
.botom:hover{
    background-color: #240581;
    
}

nav{
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px; 
}

.menu{ 
    text-decoration: none;
    color: #3405b6;
    font-weight: bold;
    margin-right: 20px;
    transition: .55s;
    font-size: 17px;

}

.menu:hover{
    
    color:#8b018b;
    text-decoration: underline;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.473);

}

main{
    height: 100%;
  max-width: 80%; 
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.171);
  margin: auto;
  padding-top: 20px;
  border-radius: 12px;
}

.conterner{
background-image: url(img/haland.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
 max-width:950px ;  
 min-width: 320px;
 height: 400px; 
 padding-top: 150px;
 margin: auto;
 border-radius: 12px;
 box-shadow: 8px 8px 15px #15064177;
}
.conterner>h3{
color: white;
margin-top: 260px;
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.397);
}
   
div{
margin-left: 20px;
margin-bottom: 15px;
box-shadow:7px 7px 13px #15064167;
}   

h5{
    color: #4203ffcc;
}

.jogo1{
    display: block;
    display: inline-block;
    background-color: #240581;
    padding: 15px;
    width: 150px;
    height:  100px;
    color:white;
    font-weight: normal;
    border-radius: 10px;      
}

.jogo2{
    display: block;
    display: inline-block;
    background-color: #240581;
    padding: 15px;
    width: 150px;
    height:  100px;
    color:white;
    font-weight: normal;
    border-radius: 10px;  
}

.jogo3{
    display: block;
    display: inline-block;
    background-color: #240581;
    padding: 15px;
    width: 150px;
    height:  100px;
    color:white;
    font-weight: normal;
    border-radius: 10px;
}

h5:hover{
     color: white;
}

p>img{
    width: 18px;
}
   
